.hero {
  margin: 20px 0;

  &__slider {
    position: relative;
    img {
      width: 100%;
      border-radius: 8px;
    }

    .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      border-radius: 50%;
      padding: 8px;
      border: none;
      cursor: pointer;

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }
  }
}
